{% include "templates/LICENSE.rst.template" %}

Licensed code
=============

ABR Control imports several open source libraries:

* `NumPy <https://numpy.org/>`_ - Used under
  `BSD license <https://numpy.org/license.html>`__
* `Cython <https://github.com/cython/cython>`_ - Used under
   `Apache license <https://github.com/cython/cython/blob/master/LICENSE.txt>`__
* `setuptools <https://github.com/pypa/setuptools>`_ - Used under
  `MIT license <https://github.com/pypa/setuptools/blob/master/LICENSE>`__
* `SciPy <https://github.com/scipy/scipy>`_ - Used under
  `BSD 3-Clause license <https://github.com/scipy/scipy/blob/master/LICENSE.txt>`__
* `Cloudpickle <https://github.com/cloudpipe/cloudpickle>`_ - Used under
  `Custom license <https://github.com/cloudpipe/cloudpickle/blob/master/LICENSE>`__
* `SymPy <https://github.com/sympy/sympy>`_ - Used under
  `Custom license <https://github.com/sympy/sympy/blob/master/LICENSE>`__
* `matplotlib <https://matplotlib.org/>`_ - Used under
  `modified PSF license <https://matplotlib.org/users/license.html>`__

ABR_Control also includes code modified from other libraries.

The file ``abr_control/utils/transformations.py`` contains code with the
following license:

Copyright (c) 2006-2015, Christoph Gohlke
Copyright (c) 2006-2015, The Regents of the University of California
Produced at the Laboratory for Fluorescence Dynamics
All rights reserved.


To run the tests, ABR Control uses:

* `codespell <https://github.com/codespell-project/codespell>`_ - Used under
  `GPL license <https://github.com/codespell-project/codespell/blob/master/COPYING>`__
* `pylint <https://www.pylint.org/>`_ - Used under
  `GPL license <https://github.com/PyCQA/pylint/blob/master/COPYING>`__
* `pytest <https://docs.pytest.org/en/latest/>`_ - Used under
  `MIT license <https://docs.pytest.org/en/latest/license.html>`__
* `pytest-cov <https://github.com/pytest-dev/pytest-cov>`_ - Used under
  `MIT license <https://github.com/pytest-dev/pytest-cov/blob/master/LICENSE>`__
* `pytest-rng <https://www.nengo.ai/pytest-rng/>`__ Used under
  `MIT license <https://github.com/nengo/pytest-rng/blob/master/LICENSE.rst>`__
* `pytest-xdist <https://github.com/pytest-dev/pytest-xdist>`_ - Used under
  `MIT license <https://github.com/pytest-dev/pytest-xdist/blob/master/LICENSE>`__
